@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
    background-color: #0c1022;
    color: #fff;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    font-size:25px;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
opacity: 0;
animation: slideTop 1s ease forwards;

}

.navbar a {
    font-size:18px;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06,
     #3cf);

     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

.home {
width: 100%;
height: 100vh;
display: flex;
justify-content: space-between;
align-items: center;
padding: 70px 10% 0;
}
.home-content {
    max-width: 500px;
    margin-left: -30px;
}

.home-content h1 {
    font-size: 56px;
    font-weight:700;
    line-height: 1.2;
}

.home-content h3 {
font-size: 32px;
font-weight: 700;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    background: linear-gradient(45deg, #f06,
    #3cf, #f06);
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}
.btn::before {
    position: absolute;
    top: 0;
    left: 0;
    inset: -1;
    background: linear-gradient(45deg, #f06,
    #3cf, #f06);
    border-radius: 40px;
    z-index: 1;
    filter: blur(5px);
}
.btn::after {
    position: absolute;
    top: 0;
    left: 0;
    inset: -1;
    background: linear-gradient(45deg, #f06,
    #3cf, #f06);
    background-position: 0 0;
    background-size: 200px;
    border-radius: 40px;
background-size: 200px;
    z-index: 1;
    transition: .5s ease;
}
.btn:hover::after {
    background-position: 100% 0;
}

.home-sci a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    
    background: linear-gradient(45deg, #f06,
    #3cf);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;

/*lll*/


}

.home-sci a:nth-child(1) {
    filter: 10px;
}
.home-sci a::after {
    content: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0c1022;
    border-radius: 50%;

}
.home-img {
    width: 410px;
    height: 410px;
    
}
.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    
    border-radius: 50%;
}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
}
.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.glowing-circle .img {
    position: relative;
    width: 380px;
    height: 280px;
    
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;

}

.image img {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    max-width: 350px;
    object-fit: cover;
}

/* ANIMATOIN */

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translate(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

